<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Assets/CSS/index.css">
</head>

<body>
    <h1>{{pageTitle}}</h1>
    <h2>Podtytuł strony</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo cupiditate quidem excepturi minus, hic unde quisquam
        nisi asperiores autem iure suscipit nulla vel amet. Sint provident consequuntur aliquam consectetur?
        Voluptatibus ipsam quod laborum alias saepe rerum earum vero ducimus eos ut sit nam omnis possimus aliquam
        molestias dolor, voluptates fuga necessitatibus! Error, quisquam. Dolorum repudiandae earum voluptatem iure,
        necessitatibus animi omnis praesentium dolores ipsum magnam molestias deserunt! Et aperiam, iste, eum aspernatur
        assumenda facilis laboriosam odio explicabo debitis modi fugit non amet illo maiores dolores aliquam tenetur
        illum at! Earum, non nulla laboriosam soluta ab vel dolorem consectetur, fugiat saepe temporibus velit ipsa?
        Quidem voluptate ipsam, officiis necessitatibus beatae quia ea natus vero modi pariatur aspernatur repellat
        vitae inventore qui officia temporibus voluptates enim non ab. Provident nihil incidunt ex aspernatur, nisi
        atque sed qui nesciunt nostrum tenetur. Possimus, quibusdam? Vitae doloribus corporis alias blanditiis
        voluptates! Repellendus tempora placeat molestiae, architecto itaque est autem aut mollitia aliquam a. Veniam,
        inventore asperiores. Quos impedit earum porro cum, nostrum voluptatum iure inventore laborum culpa ipsa sequi
        eveniet iste distinctio quibusdam, vero labore autem, et magnam dolores! Vel aliquid saepe natus tempore iure
        incidunt maiores reiciendis, mollitia molestiae id aliquam quos est explicabo culpa nesciunt ullam beatae
        dignissimos. Quos, mollitia. Pariatur, in veritatis dolor ullam labore accusantium quasi accusamus commodi
        perspiciatis sint odio quo aut repellendus atque ipsam, maiores et ipsa consequuntur voluptatum amet nam sunt.
        Et illum suscipit nam dolore tenetur dolor voluptatibus deserunt odit distinctio, quo, adipisci molestiae
        deleniti quis alias debitis. Optio obcaecati vero, excepturi illo nam eligendi id minima repudiandae cumque
        reprehenderit, at facere neque perferendis. Esse fuga quibusdam fugiat! Corrupti adipisci dolor ad perferendis
        molestias, nostrum aut nesciunt expedita dolore doloribus fugit veniam modi sint eum nulla architecto mollitia
        dolores aspernatur quo amet accusamus officia ipsum laboriosam. Consectetur.</p>
    <input type="text" id="example">
    <button id="action">Klik</button>
    <p id="text"></p>
    <script src="./../JS/functions.js"></script>
</body>

</html>